    <%= form_with url: login_path, :remote => true ,method: :post do |form| %>
      <div>
        <%= form.label :email %>
        <%= form.email_field :email, required: true %>
      </div>

      <div>
        <%= form.submit 'Log In' %>
      </div>
    <% end %>