
<h1>Create an Account</h1>

<%= form_with model: @user, local: true do |f| %>
  

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <%# </div> %>

  <div class="actions">
    <%= f.submit 'Create Account' %>
  </div>
<% end %>
