<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Label Lens</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to "Log in", login_path, method: :get %>
    </div>
  </div>
  <%= link_to 'Sign in with Spotify', @url %>
</div>
