
<div class="container">
  <div class="row justify-content-end mt-3">
    <div class="col-12 text-center">
      <h1>Label Lens</h1>
    </div>
  </div>
  <div class="row justify-content-end mt-3">
    <div class="col-12 text-center">
      <%= link_to "Log in", login_path, method: :get %><br>
      <%= link_to 'Sign in with Spotify', @url %>
    </div>
  </div>
</div>

  