
<% @albums.each do |album| %>
  <div class="album">
  <%= image_tag album.image[:url], alt: album.album_name, class: 'album-image' %>
  <h2 class="album-name"><%= album.album_name %></h2>
  <p class="artist"><%= album.artist %></p>
</div>
<% end %>

 