/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@media only screen{
  body {
    background-image: linear-gradient(to left, #684E76, #B894B2, #A57EAA, #9584AE, #736C9E  );
  }
}

/* Container for your app content and toggle button */
.container {
  font-family: "copperplate", fantasy;
  color: rgba(157, 18, 164, 0.661);
  position: center; /* Required for absolute positioning */
  /* Add any other styles for your app container here */
  padding-top: 100px;
  center: 0;
}

/* Toggle button for light/dark mode */
#toggle-button {
  position: relative;
  top: 10px; /* Adjust the top position to your liking */
  right: 10px; /* Adjust the right position to your liking */
  z-index: 1000; /* Ensure it's on top of other elements */
  color: pink;
  /* Add any other styles for the toggle button here */
}

.dark-mode {
  color: pink;
  background-image: linear-gradient(to left, #684E76, #5B4766, #4B3D52, #322C35, #171618);
}

.custom-button {
  background-color: #7a5a8b; /* Change this to your desired color */
  color: rgb(12, 2, 2); /* Text color for contrast */
}

