
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --button-background-light: #7a5a8b;
}

/* Define CSS variables for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: #171618;
    --text-dark: #ffffff;
    --button-background-dark: #684E76;
  }
}

@font-face {
  font-family: "Lucidity Condensed";
  src: font-url('lucidity-condensed.ttf');
}


body 
{
  background-image: linear-gradient(to left, #684E76, #B894B2, #A57EAA, #9584AE, #736C9E);
  display: flex;
  flex-direction:column;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-light);
  color: var(--text-light);
  padding: 65px;
  overflow-y: auto;
}

.label-lens-logo {
  width: 8%;
}

.spotify-logo {
  width: 5%;
}

.container {
  font-family: "copperplate", fantasy;
  color: rgba(157, 18, 164, 0.661);
  /* Remove unnecessary center property */
  /* Add any other styles for your app container here */
  padding-top: 100px;
  text-align: center; /* Center the content horizontally */
  margin: 0 auto; /* Center the container horizontally */
  width: 80%; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
}

.blog-card-container {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
  width: 25%;
  h1 {
    font-family: "Lucidity Condensed", sans-serif;
    font-size: 1.5rem;
  }
}

.blog-card-searched-album {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
  width: 25%;
  h1 {
    font-family: "Lucidity Condensed", sans-serif;
    font-size: 1.5rem;
  }
}


/* Toggle button for light/dark mode */
#toggle-button {
  position: relative;
  top: 10px; /* Adjust the top position to your liking */
  right: 10px; /* Adjust the right position to your liking */
  z-index: 1000; /* Ensure it's on top of other elements */
  color: pink;
  /* Add any other styles for the toggle button here */
}

.dark-mode {
  color: pink;
  background-image: linear-gradient(to left, #684E76, #5B4766, #4B3D52, #322C35, #171618);
  background-color: var(--background-dark);
}



.dark-mode .card-body {
  background: var(--background-dark);
  color: var(--text-dark);
}

.custom-button {
  background-color: var(--button-background-light);
  color: var(--text-light);
}
